@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*
font-family: 'Kumbh Sans', sans-serif;  400   700
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

html {
  overflow: hidden;
}

body {
  font-size: 18px;
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.top_circle {
  position: absolute;
  top: 0;
  right: 55%;
  transform: translate(0, -50%);
}

.bottom_circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(0, 65%);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 15px;
  width: 330px;
}

.bg_photo {
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  background-position: center center;
  background-size: cover;
  height: 130px;
  position: relative;
}

.profile_photo {
  height: 100px;
  width: 100px;
  background-image: url(images/image-victor.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border: 5px solid white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.container p,
.container h4 {
  text-align: center;
}

.name {
  margin: 70px 0 0 0;
  color: hsl(227, 10%, 46%);
}

.name span {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.bio {
  font-size: 1rem;
  color: hsl(227, 10%, 46%);
  margin: 12px 0 27px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-top: 1px solid hsla(0, 0%, 59%, 0.4);
}

.stat div {
  width: 100px;
}

.stat h4 {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.stat p {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  font-size: 0.8rem;
  margin-top: 5px;
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
}

.attribution a {
  color: hsl(14, 100%, 31%);
  text-decoration: none;
}
